* {
    margin: 0;
    padding: 0;
}
/* html{
    left: -8px;
    position: relative;
} */

body{
    overflow: hidden;
    background-image: url(./assets/imagens/rooxo.jpg);
    background-repeat: no-repeat;
    background-size: 2187px;
    background-position: left;

}

@media screen and (max-width:769px) {
    body, html {
        background-image: none;
        overflow-y: auto;
        position: relative;
        left: -1px;
    }
   


}













/* versão mobile */

