<header>
    <div class="container3">
        <nav>
            <figure>
                <img class="logoTipo" src="../assets/imagens/MicrosoftTeams-image.png" alt="Logo SóVamu">
            </figure>

            <figure class="menu-hamburguer" (click)="toggle=!toggle">
                <i class="fas fa-bars"></i>
            </figure>

            <div class="container2" *ngIf="toggle || innerWidth > 769 ">
                <ul class="menu" >
                    <li><a class="itemMenu" href="#">Home</a></li>
                    <li><a class="itemMenu" href="#">Profile</a></li>
                    <li><a class="itemMenu" href="#">About</a></li>
                    <li><a class="itemMenu" href="#">Contact</a></li>
                </ul>
                <button class="sign" type="submit">Sign in </button>
            </div>
        </nav>
    </div>
</header>
