    .logoTipo {
        width: 170px;
    }

    .container3 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 10vh;
    }

    nav {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .container2 {
        float: right;
        position: relative;
        bottom: 88px;
    }

    .menu {
        list-style: none;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        position: relative;
        right: 154px;
        flex-direction: row;
    }

    .itemMenu {
        text-decoration: none;
        color: black;
        margin-right: 90px;
    }

    .sign {
        position: relative;
        left: 28rem;
        bottom: 1.45rem;
        border-radius: 12px 12px 12px 12px;
        width: 133px;
        height: 28px;
        font-size: 19px;
        font-family: arial;
        border-color: #9400D3;
    }

    .menu-hamburguer {
        display: none;

    }


/* --------------------------------------------- VERSÃO MOBILE ------------------------------------------------------------------------- */
@media screen and (max-width:426px) {
    .logoTipo {
        width: 8rem;
        position: relative;
        left: 2rem;
    }

    .menu-hamburguer{
        display: block;
        float: right;
        position: relative;
        bottom: 68px;
        right: 14px;
        font-size: 32px;
        color: #9400D3;
    }

    .menu{
        flex-direction: column;
    }
    

    .container3{
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 10vh 20vh;
    }

    .container2{
        left: 238px;
        top: 1px;
    }

    .sign{
        left: -12rem;
        bottom: 122px;
    }

    body{
        overflow-x: hidden;
    }
    

 




}