.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 90vh
}

aside {
    grid-column-end: 6;
}

h2{
    color: #3f51b5;
    font-family: 'Varela Round', sans-serif;
    font-size: 69px;
    margin-right: 43px;
    margin-top: -64px;
}

.formularios{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.texto{
    line-height: 29.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    left: 12px;
    bottom: 2px;
}

#botao{
    margin-left: 170px;
    position: relative;
    top: 21px;
}

.example-full-width{
    width: 97%;
}

